<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 100px;
  height: 128px;
  pointer-events: none;
  background: lightsteelblue;
}
</style>
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/jquery-1.8.3.min.js"></script>
</head>

<body>
  <div>
  <div>This is the test for picture 1</div>
  <select id = "algorithm_type">
    <option value="0">Please choose algorithm</option>
  </select>
  <select id="x_attr">
    <option value="0">Please choose x attribute</option>
  </select>
  <select id="y_attr">
    <option value="0">Please choose y attribute</option>
  </select>
  <button type="button" id="submit_button">submit</button>
</div>
<div id="chart"></div>
<input id="pic_type_text" type="hidden" value = "1">
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    dropDownList("1");
    $("#submit_button").click(submit_pic);
    $("#algorithm_type").change(getAxisAttr); 
});
</script>
<script src="/static/js/data.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/dropDownList.js"></script>
</body>
</html>
