<!DOCTYPE html>
<html>
<meta charset="utf-8">

<!-- Example based on http://bl.ocks.org/mbostock/3887118 -->
<!-- Tooltip example from http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html -->

<head>
<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 100px;
  height: 128px;
  pointer-events: none;
  background: lightsteelblue;
}
</style>
<script src="d3.v3.min.js"></script>
<script src="jquery-1.8.3.min.js"></script>
</head>
<body>
  <div>
  <div>This is the test for picture 3</div>
  <select id = "algorithm_type_1">
    <option value="0">Please choose algorithm</option>
  </select>
  <select id = "algorithm_type_2">
    <option value="0">Please choose algorithm</option>
  </select>
  <select id="algo_attr">
    <option value="0">Please choose algorithm's attribute</option>
  </select>
  <button type="button" id="submit_button">submit</button>
</div>
<div id="chart"></div>
<input id="pic_type_text" type="hidden" value = "3">
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    dropDownList("3");
    $("#submit_button").click(submit_pic);
    $("#algorithm_type_1").change(getAxisAttr); 
    $("#algorithm_type_2").change(getAxisAttr);
});
</script>

<script src="data.js"></script>
<script src="chart.js"></script>
<script src="dropDownList.js"></script>
</body>
</html>